@import url(variables.css);

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #5a6369, #1f3244);
    overflow: hidden;
}

header{
    text-align: center;
}

.header h1{
    color: white;
    font-family: "Rubik";
    font-size:120px;
}

.input{
    text-align: center;
}

.input input{
    width: 400px;
    height: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    border: 0px solid ;
    background-color: #272829;
    position: relative;
}



button{
    outline: none;
    width: px;
    height: 45px;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    border: 0px solid ;
    margin-left: -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.date{
    margin-top: 1%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-left: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    margin-top: 2%;
    height: 45vh;
}

::-webkit-scrollbar {
    display: none;
}

.origin{
    background-color: #252729;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content:center ;
    gap: 15px;
    width: 30%;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    padding-right:10px ;
    margin-bottom: 15px;
}

.origin span{
    color: white;
}

.hold{
    background-color:#252729;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content:center ;
    gap: 15px;
    width: 30%;
    justify-content: space-between;
    opacity: .6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    padding-right:10px ;
    margin-bottom: 15px;
    
};

.hold del {
    color: white;
}


.imagen{
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.imagen img {
    width: 40px;
    border-radius: 50%;
  
}

.imagen img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}